extends layout

block content
  div.container
    h2 Account
    div.row
      div.six.columns
        div.row Username: #{user.username}
        div.row Email: #{user.email}
    h2 Observations by #{user.username}
      include item
      .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
        .gallery
            each note in notes
                if note.medias.length > 0
                    +note(note)


    